.login {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  float: none;
  overflow: hidden;
 
}
.text {
  color: rgb(37, 34, 34);
  font-size: large;
}

.image {
  justify-content: flex-end;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  width: 50%;
}
.form {
  display: inline-flex;
  flex-direction: column;
  /* background-color: rgb(21, 19, 137); */
  justify-content: center;
  width: 50%;
  
}
@media only screen and (max-width: 768px) {
  .login {
    display: inline;
    width: 100vw;
    /* height: 100%; */
    float: none;
    overflow: hidden;
    font-size: 3rem;
  }
  .form {
    display: block;
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    font-weight: bold;

  }
  .image {
    display: none;
  }
}


.image img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}



.homebutton{
  padding-top: 30px;
  padding-left: 30px;
}

.form p{
  font-size: 14px;
}